$mainBgColor:#444444;
$mainTextColor:white;

body {
  background-color: $mainBgColor;
  padding:0;
  margin:0;
  color:$mainTextColor;
}

h1 { font-family: ‘Georgia’, 'Charcoal', sans-serif;
color: #e50914;
text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; 
margin-left:20px;
}

h2 {
  font-family: cursive;
}

h3 {
  margin:10px 0;
}

li {
  list-style: none;
  list-style-type: none;
}

button, input { color:black; }

.playlistForm {
  input { width:150px; }
}

input[type=text] {
  &.editableText {
    background-color: transparent;
    color:#bbbbbb;
    border: 1px solid transparent;
    margin: 10px;
    padding: 5px;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    transition: all .5s;
    &:focus {
      background-color: #666666;
      color:#ffffff;
      border-color: #66afe9;
      outline: 0;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    }
  }
}

.fakeLink, .fakeLinkIcon {
  color:#6666aa;
  cursor:pointer;
}

.fakeLinkIcon {
  color:#9999bb;
}
.googleLogin, .userMenu {
  float:right;
}
.container-full {
  margin:0 auto;
  width: 100%;
}

.mainContent {
  margin-top:130px;
}


ul#footer, ul.mainNav {
  margin:0 auto;
  li { 
    list-style-type:none;
    display: inline;
    padding: 0.5em 2em;
  }
}

.videoIdForm{
  label { width: 10em; }
  input#newVideoId{ background-color: #cccccc; width:11em; }
}

.playlistForm {
  label { width: 10em; }
  input{width: 10em; background-color: #cccccc;}
}

.curatorPlaylist {
  padding: 10px 5px 20px 5px;

  .itemControls {
    float: right;
  }

  li:hover {
    background-color: #777777;
  }

  h3 {
    border-bottom: 1px solid #555555;
    padding-bottom:5px;
    &:hover { 
      border-bottom: 1px solid #999999; 
    }
  }
}

.channelTable {
  li, ul { margin:0; padding:0 ; }
  a, a:hover, a:visited { color: #cccccc; text-decoration: none;}
  .channelStrip{

    .filmStrip{
      li {display:inline;}
    }
  }
}
.playerOverlay {
  position: absolute; top: 0; left: 0; 
  width:100%; height:100%;
  background-color: #222222;
  z-index: 9999;

  .playerControls { height:20px; text-align: center; cursor:pointer;}

  .playerContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .iframeContent {
      border: 1px solid #999999;

      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.filmBubble {
    position:absolute;
    width:500px;
    height:600px;
    margin:auto;
    border: 1px solid #777777;
    background-color: #666666;
    padding:10px;
    top:10px;
    left:20px;

    .bubbleOverlay {
        z-index:100;
        bg-color:#000066;
    }
    .videoDetailOverlay {
        z-index:10;
    }
}

.shelf {

  .rack {
    clear:both;

    .rackSpace {
      display:flex;

      .rackControl {
        width:36px;
        flex-grow:0;
        margin:auto;

        .rackButton{
          font-size:36px;
        }
      }
      .rackWindow {
        flex-grow:1;
        overflow: hidden;
        height: 240px;
        position: relative;
        ul {
          margin:0; padding:0;
          position: absolute;
          width: 10000%;
          transition:left 1s;
          li {
            float: left;
            h4 {
              font-size: 1em;
              width: 300px;
            }
            &.filmstrip {
              display:inline-block; 
              background-color: #666666;
              padding: 0 3px;
              .spocks {
                height: 180px; 
                width: 1px; 
                border-right: 4px dotted #888888;
              }
            }
          }
        }
      }
    }
  }
}

.navbar-default { background-color: #333333; }